<header>
  <mat-toolbar>
    <span>Carona</span>
    <button mat-button id="menuUser" [matMenuTriggerFor]="menu" *ngIf="page != 1">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        person
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Nome: {{nome}}</button>
      <button mat-menu-item>Telefone: {{telefone}}</button>
    </mat-menu>
    
  </mat-toolbar>
</header>


<body>
 
<div id= "CadastroHTML" *ngIf="page == 1">
  <h2>Olá!! 
  <br> 
  Vamos fazer seu cadastro!</h2>
  <form name="cadastro">
    <mat-form-field appearance="fill">
      <mat-label for="Nome">Nome</mat-label>
      <input matInput placeholder="" value="" id="Nome" #Nome required="required">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="Telefone">Telefone</mat-label>
      <input matInput placeholder="" value="" id="Telefone" #Telefone required="required">
    </mat-form-field>
  </form>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color="primary" ng-disable="(Nome.value.length === 0 || Telefone.value.length === 0)" (click)="Cadastro(Nome.value, Telefone.value)">
    Cadastro
  </button>
  </div>

  <div *ngIf="page != 1">
    <form name="cadastro">
      <mat-form-field appearance="fill">
        <mat-label for="Origem">Origem</mat-label>
        <input matInput placeholder="" value="" id="Origem" #Origem required="required">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="Destino">Destino</mat-label>
        <input matInput placeholder="" value="" id="Destino" #Destino required="required">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="qtdePassageiros">Quantidade de Passageiros</mat-label>
        <input matInput placeholder="" value="" id="qtdePassageiros" #qtdePassageiros required="required">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" #Data id="Data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <label>
        <input name="registroInteresse"  #interesse id="interesse" type="checkbox">
        Caso não encontre nenhuma viagem, deseja registrar interesse? 
      </label>


    </form>
    <!-- (click) passes input value to add() and then clears the input -->

    <button mat-raised-button color="primary" class="add-button" (click)="ConsultaViagens(Origem.value, Destino.value, Data.value, qtdePassageiros.value, interesse.checked)">
      Consultar Viagens
    </button>
  </div>
  <mat-list role="list" *ngFor="let corrida of listadeViagens" >
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
  <div>
    <mat-form-field appearance="fill">
      <mat-label for="idCorrida">Para remover interesse, informe o ID da Corrida</mat-label>
      <input matInput placeholder="" value="" id="idCorrida" #idCorrida required="required">
    </mat-form-field>
    <button class="add-button" (click)="removeInteresseEmPassageiro(idCorrida.value)">
      Remover Interesse
    </button>
  </div>

  <!-- <div *ngIf="aviso">
    <ol>
      <li>
        <button mat-raised-button (click)="openDialog()">Pick one</button>
      </li>
       <li>
        You chose: <i>{{aviso}}</i>
      </li> 
    </ol>
    
    
  </div> -->
</body>