<header>
  <mat-toolbar>
    <span>Carona</span>
  </mat-toolbar>
</header>


<body>
  <mat-stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step label="Fill out your address">
    <!-- #enddocregion label -->
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button >Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

  
<div id= "CadastroHTML">
  <h2>Cadastro!</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
    </form>
  <label for="Nome">Hero name: </label>
  <input id="Nome" #Nome />

  <label for="Telefone">Hero telefone: </label>
  <input id="Telefone" #Telefone />
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="Cadastro(Nome.value, Telefone.value)">
    Add hero
  </button>
  </div>

  <div>
    <label for="Origem">Origem: </label>
    <input id="Origem" #Origem />
  
    <label for="Destino">Destino: </label>
    <input id="Destino" #Destino />

    <label for="Data">Data: </label>
    <input id="Data" #Data />
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="ConsultaViagens(Origem.value, Destino.value, Data.value)">
      Add hero
    </button>
  </div>

  <div>
    <label for="idCorrida">Para remover interesse, informe o ID da Corrida</label>
    <input id="idCorrida" #idCorrida/>
    <button class="add-button" (click)="removeInteresseEmPassageiro(idCorrida.value)">
      Remover Interesse
    </button>
  </div>
</body>